extends ../base
include ../mixins/avatar

block content
  +avatar()(class="mb-[50px]")
    span.error-message #{error && error.user ? error.user : "" }
  form(method="POST", enctype="multipart/form-data")
    if !user.socialOnly
      label(for="avatar") Avatar
      input(type="file", id="avatar", name="avatar", accept="image/*")
    input(placeholder="이름", name="name",type="text", required, value=user.name)
    if user.socialOnly
      div.input_display.disabled=user.email
      div.input_display.disabled=user.username
    else
      input(placeholder="이메일", name="email",type="email", required, value=user.email)
      input(placeholder="로그인 이름", name="username",type="text", required, value=user.username)
    if !user.socialOnly
      input(placeholder="소속 국가", name="location",type="text", required, value=user.location)
    input(type="submit", value="Update Profile")
    if !user.socialOnly
      div.profile__password
        a(href="change-password") Change Password &rarr;